* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: "Genshin-normal";
  src: url(../font/GenShinGothic-Normal.ttf);
  font-weight: 400;
}

@font-face{
  font-family: "Genshin-medium";
  src: url(../font/GenShinGothic-Medium.ttf);
  font-weight: 600;
}

header{
  width:100%;
  height:5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6%;
  position: fixed;
  z-index: 2;
  background-color: white;
}

.header-nav-list{
  list-style: none;
}

.header-nav-list li{
  display: inline-block;
  margin: 0 4.5vw;
}

.header-nav-list a{
  text-decoration: none;
  color:#231300;
font-size: 1.5vw;
font-weight: 600;
letter-spacing: 0.05em;
font-family: "Genshin-normal";
}

.main-visual{
  width: 100%;
  padding-top: 5vw;
  position: relative;
  margin-bottom:5vw;
}

.main-visual-title{
  font-family: "Genshin-medium";
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 23%;
  font-size: 4vw;
  line-height: 2.5;
  letter-spacing: 0.05em;
}

.about-site-title{
  font-family: "Genshin-medium";
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 63%;
  font-size: 3vw;
}

.about-site-text{
  font-family: "Genshin-normal";
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 70%;
  font-size: 2vw;
  line-height: 2;
}

.main-visual-img-wrap{
  width: 100%;
  height: 100%;
}

.main-visual-img-wrap img{
width: 100%;
height: 100%;
object-fit: cover;
}

.pc-main-vis{
  display: block;
}

.sp-main-vis{
  display: none;
}

.world-tap-text {
  font-family: "Genshin-normal";
  font-size: 2vw;
  text-align: center;
  margin-bottom: 4vw;
  letter-spacing: 0.05em;
}

.world-tap-text img{
  width: 1.5vw;
}

.world-tap-all{
  width: 100%;
position: relative;
}

.world-text{
  padding: 0.5% 0;
}

.world-tap-africa img ,
.world-tap-asia img,
.world-tap-europe img,
.world-tap-america img{
  width: 1.8vw;
  max-width: 12px;
  margin-left: 2vw;
}

.world-tap-country{
  position: absolute;
  font-family: "Genshin-normal";
  height: 7vw;
  max-height: 40px;
  font-size: 1.5vw;
  font-weight: 600;
  text-decoration: none;
  color: #231300;
  border: solid 1px #231300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(252, 252, 252);
  padding: 0 2vw;
}

.world-tap-europe{
  top: 15%;
  left: 8%;
}

.world-tap-africa{
  top: 40%;
  left: 5%;
}

.world-tap-asia{
  top: 27%;
  left: 34%;
}

.world-tap-america{
  top: 43%;
  left: 73%;
}

.world-tap-map img{
  width: 100%;
  margin-bottom: 6vw;
}

.asobi-title{
  width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom:71px;
}

.asobi-title img{
  width: 33%;
}

.asobi-title-text{
  font-family: "Genshin-normal";
  font-size: 3vw;
  line-height: 2.5;
}

.asobi-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
  list-style: none;
  margin-bottom: 5vw;
} 

.asobi-content li{
  width: 20%;
}

.asobi-content img{
  width: 100%;
  margin-bottom: 30px;
}

.asobi-name{
  font-family: "Genshin-medium";
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.asobi-exact{
  font-family: "Genshin-normal";
  font-size: 1.3vw;
  margin-bottom: 60px;
}

.botan{
  font-family: "Genshin-normal";
  width: 200px;
  height: 55px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #231300;
  border: solid 1px #231300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(252, 252, 252);
  margin: auto;
  }

.botan img{
  width: 10px;
 }

.flag-bottom img{
  margin-top: 7vw;
  width: 100%;
  margin-bottom: 9vw;
}

.footer{
  padding: 60px 0;
  background-color: rgb(194, 194, 194);
  color: white;
}

.footer-content{
  padding-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin-bottom: 4vw;
} 

.footer-content li{
  margin: 0 5px;
}

.footer-about{
  font-family: "Genshin-medium";
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.footer-about-name{
  font-size: 1.3vw;
  margin-bottom: 4px;
}

.footer-about-content{
  font-family: "Genshin-normal";
  font-size: 1vw;
  margin-bottom: 4px;
}


.associate-text{
  text-decoration: none;
  color: white;
}

.associate{
  font-size: 1.5vw;
  text-align: center;
}

@media screen and (max-width: 480px){

  header{
    height: 30px;
    justify-content: space-around;
  }

  .header-nav-list li{
    margin: 0;
    transform: scale(0.8);
  }

  .header-nav-list a{
    font-size: 10px;
  }

  .main-visual{
    padding-top: 30px;
  }

  .about-site-text{
    font-size: 2.5vw;
    top: 65%;
  }

  .asobi-content{
    flex-direction: column;
    align-items: center;
  }

  .main-visual-title{
    font-size: 4.5vw;
    top: 21%;
  }

  .pc-main-vis{
    display: none;
  }

  .sp-main-vis{
    display: block;
  }

  .about-site-title{
    font-size: 4vw;
    top: 62%;
  }

  .world-tap-text img{
    width: 2vw;
  }

  .asobi-title{
    margin-bottom: 40px;
  }

  .asobi-title-text{
    font-size: 4vw;
  }

  .asobi-content li{
    width: 180px;
  }

  .asobi-content img{
    max-width: 60%;
    margin-left: 20%;
    margin-bottom: 13px;
  }

  .asobi-name{
    font-size: 17px;
    margin-bottom: 4px;
  }

  .asobi-exact{
    margin-bottom: 50px;
  }

  .botan{
    width: 125px;
    height: 37px;
    font-size: 10px;
  }

  .botan img{
    width: 7px;
  }
}